<div class="row">
  <div class="col-md-10">
    <%= link_to "登出", destroy_admin_session_path, method: :delete, class:'btn btn-danger' %>
  </div>
  <div class="col-md-10">
    <table class="table table-striped">
      <thead>
        <tr>
          <td>UserName</td>
          <td>Email</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
      <% @ruweis.each do |ruwei| %>
        <tr>
          <td>
            <%= ruwei.name %>
          </td>
          <td>
            <%= ruwei.email %>
          </td>
          <td>
            <%= link_to "Delete", daikichi_ruwei_path(ruwei), method: :delete, class:'btn btn-danger btn-sm', data:{confirm: '確定刪除'} %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
    
