<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to 5xRuby, <%= @ruwei.name %></h1>
    <p>
      恭禧你已經成功魯味覺醒.
    </p>
    <p>欲練神功，按讚追蹤
    <a href="<%= @fb %>">
      <img title="Facebook Like Button" alt="Like 5xRuby at Facebook" src="http://i.imgur.com/BzzPvFh.jpg" />
    </a>
    </p>
    <p>每個人心中都有：<a href= "<%= @url %>">五倍紅寶石</a> </p>
    <p>Thanks for joining and have a 5x great day! </p>
  </body>
</html>
