<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1 style="font-size: 22px; color:#555;">Hi, <%= @ruwei.name %></h1>
    <p style="font-size: 16px; color:#555;">
      恭禧你已經成功地激發五倍魯味覺醒，
    </p>
    <p style="font-size: 16px; color:#555;">欲練五倍神功，臉書按讚追蹤 
      <a href="<%= @fb %>" style="text-decoration: none; color:"#CA0000">
        <img title="Facebook Like Button" alt="Like 5xRuby at Facebook" src="http://i.imgur.com/BzzPvFh.jpg" style="vertical-align: middle;"/>
      </a>
    </p>
    <p style="font-size: 16px; color:#555;">五倍魯味團感謝你的參與，期待與你魯在一起♥</p>
    <hr>
    <p style="font-size: 16px; color:#555;">每個人心中都有 <a href= "<%= @url %>" style="text-decoration: none; color: #CA0000">五倍紅寶石</a>。</p>
  </body>
</html>
